// Global variables, config switches

// GRID

// GENERAL
$border-radius-base: 0px;

// FONTS
$font-family-sans-serif:'Droid Sans', Helvetica, Arial, sans-serif;
$font-family-header: 'Nunito', Helvetica, Arial, sans-serif;
$font-size-base: 14px; //0.875em, em's dont' work because of later calculations.
$line-height-base: 1.5;
$type-scale-factor: 1.5;
$line-height-computed: $line-height-base * $font-size-base;

// COLORS
$brand-primary: #0066A1;
$brand-secondary: #565A5C;
$brand-success: #98A023;
$brand-info: $brand-primary;
$brand-warning: #00A199;
$brand-danger: #E66001;
$brand-mute: #DEEAEF;


// TEXT
$text-color: $brand-secondary;
$text-color-inverse: white;
$text-muted: $brand-mute;


// BUTTONS


// FORMS
$input-bg: transparent;
